<div class="game-reset">
    <div class="game-reset-section">
        <div class="reset">
            <h2 class="reset-header mb-4">Turn back time?</h2>
            <span class="mb-4">If you want to restart the game from scratch push the button</span>
            <a href="#">
                <img class="reset-button" src="{{ asset('build/images/components/reset_button.png') }}" alt="Reset button">
            </a>
        </div>
    </div>
</div>