<div class="game-stats">
    <div class="game-stats-section">
        <div class="stats">
            <div class="stats-data">
                <h2 class="stats-header text-center pb-3">Stats - {{ app.user.username }}</h2>
                <table class="table-dark">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Starting balance: </td>
                        <td class="start-balance"></td>
                    </tr>
                    <tr>
                        <td>Hands Played: </td>
                        <td class="hands-played"></td>
                    </tr>
                    <tr>
                        <td>Total Bet amount: </td>
                        <td class="bet-amount"></td>
                    </tr>
                    <tr>
                        <td>Win/Loss: </td>
                        <td class="outcome"></td>
                    </tr>
                    <tr>
                        <td>Current balance: </td>
                        <td class="current-balance"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>