<div class="game-profile">
    <div class="game-profile-section">
        <div class="profile">
            <h2 class="profile-header text-center mb-4">Profile Information</h2>
            <div class="fullname mb-2"></div>
            <div class="email mb-2"></div>
            <div class="address"></div>
            <div class="city"></div>
            <div class="country"></div>
        </div>
    </div>
</div>