<div class="game-start-alert text-center d-none">
    <div class="alert-text-2 mb-3"><strong>Think you have what it takes<br>to beat the king?</strong></div>
    <img class="game-start-alert-img" src="{{ asset('build/images/components/crown.png') }}" alt="King's crown">
    <br>
    <button class="alert-button-2 mt-3 btn">Go!</button>
</div>